$size : 4;
$light-color: #faf8ef;
$dark-color: rgb(100, 100, 100);

.gridContainer *{
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-property: left, top;
}

body {
    background-color: $light-color;
}

.game2048 {
    background-color: $light-color;
    width: 450px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: $light-color;
    background-color: rgb(132, 132, 132);
}

.title {
    font-size: 48px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.score, .bestScore {
    font-size: 20px;
    background-color: $dark-color;
    padding: 10px;
    margin: 10px;
    width: 22%;
    border-radius: 10px;
    text-align: center;
}

 .button {
    font-size: 20px;
    background-color: $dark-color;
    padding: 10px;
    width: 150px;
    color: $light-color;
    margin: 10px;
}

.gridContainer {
    margin: 0 auto;
    width: 430px;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: $dark-color;
    padding: 10px;
    position: relative;
}

.gridItem {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #eee4da;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff ;
    font-size: 36px;
}

@for $i from 0 through $size - 1 {
    @for $j from 0 through 3 {
        .gridItem-#{$j + $i*$size} {
            left: 10px+110*$j;
            top: 10px+110*$i;
        }
    }
}

 $colors:#BC8F8F, #DEB887, #CD853F, #F4A460, #FFA07A, #FF7F50,#FF4500, #FF69B4, #FF1493, #C71585, #FFD700, #1E90FF, #00BFFF, #4682B4;

$pow: 2;
@for $i from 1 through 12 {
    .gridItemValue-#{$pow} {
        background-color:  nth($colors, $i) ;
    }
    $pow: 2*$pow;
}

.gameStatus {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &Title{
        font-size: 72px;
        color: 	$light-color;
        text-align: center;
        margin: 0;
    }
}

.gameWon{
    background-color: #FFD700C0;

}

.gameOver{
    background-color: #DC143CC0;
}